<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>        
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://178.62.66.52:3306/recipe_db</property>
    <property name="connection.username">fatty</property>
    <property name="connection.password">thisisnotthepasswordyouarelookingfor</property>
	<property name="show_sql">true</property>
	<mapping resource="com/danaldron/Recipes.hbm.xml"/>
	<mapping resource="com/danaldron/Ingredients.hbm.xml"/>      
  </session-factory>
  
</hibernate-configuration>
